<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Todo List</h1>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Type here..." (keyup.enter)="addTodo(inputTodo)"
               #inputTodo>
      </div>
      <button class="btn btn-success" (click)="addTodo(inputTodo)">Add</button>
      <ul *ngIf="(todos | async).length" class="list-group">
        <li *ngFor="let todo of todos | async; index as i" class="list-group-item" (click)="removeTodo(i)">{{ todo }}</li>
      </ul>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="jumbotron">
        <h1 class="display-4">Dashboard</h1>
        <p class="lead">Last Update: {{ (lastUpdate | async) | date:'shortTime' }}</p>
        <hr class="my-4">
        <p>Total item: {{ (todos | async).length }}</p>
        <p class="lead">
          <button class="btn btn-danger" (click)="clearTodos()">Delete All</button>
        </p>
      </div>
    </div>
  </div>
</div>
